.detail {width:80vw; height:90vh;
         background: #f2f2f6;
         position: fixed; top:50%; left:50%;
         transform:translate(-50%,-50%); z-index: -1;
         display: none;
         opacity: 0;
         overflow: scroll;}
.detail figure {width:80%; margin: 50px auto; text-align: center;}
.detail figure figcaption { text-align: left;}
.detail figure p {font-weight: 300; margin-top:10px;}
.detail figure img {max-width:1000px; margin-top: 25px; height:300px; display:inline-block;}
.detail figure iframe {width:80%; height:60vh; margin:50px 0; pointer-events: auto;}

@media screen and (max-width: 1600px) {
  .detail figure iframe {width:80%; height:50vh; margin:25px 0; pointer-events: auto;}
}

@media screen and (max-width: 1024px) {
  .detail figure iframe {width:95%; height:30vh; margin:10px 0; pointer-events: auto;}
}

@media screen and (max-width: 512px) {
  .detail {width:95%; height:95vh;}
  .detail figure {width:90%; margin: 50px auto; text-align: center;}
  .detail figure p {font-weight: 300; margin-bottom:30px;}
  .detail figure img {width:100%; height:auto; margin-top:10px;}

}
